.gifts-container {
  margin: 20px;
  width: 1600px;
  height: 715px;
  padding: 0px 40px 0px 40px;
  gap: 10px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.header-container {
  width: Fill 1520px;
  height: Hug 76px;
  gap: 20px;
  align-self: center;
  align-content: center;
}

.header-itself {
  width: Fill 1330px;
  height: Hug 35px;
  gap: 20px;
  align-items: center;
}

.title {
  width: Fill 1330px;
  height: Hug 35px;
  gap: 16px;
  font-family: Bebas Neue;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
}

.see-all-button {
  width: 750px;
  height: Hug 21px;
  background: #FFFFFF;
  border: 1px #E51C2F;
  text-decoration: none;
}

.see-all-text {
  width: 126px;
  height: 21px;
  font-family: Pragmatica;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #E51C2F;
}

.arrow-right {
  width: 20px;
  height: 20px;
  padding: 5px 0px 5px 0px;
  color: #E51C2F;
  text-align: center;
}

.slider {
  display: flex;
  gap: 20px;
  width: calc(100% - 40px);
  animation: scroll 10s linear infinite;
  margin-top: 60px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    /* Start position */
  }

  100% {
    transform: translateX(-100%);
    /* End position */
  }
}

.gift {
  flex: 0 0 auto;
  width: 300px;

}

.gift img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 24px;
}